*, :before, :after {
  background: rebeccapurple;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.page-header {
  width: 100vw;
  height: 200px;

  background: brown !important;
}


.navbar {


}

.navbar__list {
  display: flex;
  flex-direction: row;

  background: blue;
}

.navbar__list-item {
  width: 20px;
  margin: 20px;
  padding: 10px;
  border: 5px solid black;
  background: green;
}
